@{
    Layout = null;
}
@model List<Models.BanJiBiao>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>换班</title>
    <script src="https://cdn.bootcss.com/pace/1.0.2/pace.min.js"></script>
    <link href="https://cdn.bootcss.com/pace/1.0.2/themes/pink/pace-theme-flash.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/MyFsLayui/plugins/layui/css/layui.css" media="all" />

    <link rel="stylesheet" type="text/css" href="/MyFsLayui/css/fs.css" media="all" />

    <script type="text/javascript" src="/MyFsLayui/plugins/layui/layui.js"></script>
    <script type="text/javascript" src="/MyFsLayui/plugins/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/MyFsLayui/plugins/tinymce/tinymce.min.js"></script>
    <script type="text/javascript" src="/MyFsLayui/plugins/tinymce/jquery.tinymce.min.js"></script>
    <script type="text/javascript" src="/MyFsLayui/plugins/frame/js/fsDict.js?v=1.5.0"></script>
    <script type="text/javascript" src="/MyFsLayui/plugins/frame/js/fs.js?v=1.5.0"></script>
    <script type="text/javascript" src="/MyFsLayui/plugins/frame/js/frame.js?v=1.5.0"></script>
</head>
<body>
    <div class="layui-fluid">

        <!--表单开始 start -->
        <form class="layui-form">

            <div class="layui-form-item">
                <label class="layui-form-label">学生姓名</label>
                <div class="layui-input-block">
                    <input type="text" name="StudentName" required="" lay-vertype="tips" lay-verify="required" placeholder="@ViewBag.Name" value="@ViewBag.Name" autocomplete="off" class="layui-input" readonly="true" />
                    <input type="hidden" name="XID" required="" lay-vertype="tips" lay-verify="required" placeholder="@ViewBag.XID" value="@ViewBag.XID" autocomplete="off" class="layui-input" hidden="hidden" />
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">原在班级</label>
                <div class="layui-input-block">
                    <input type="text" name="YuanBanJi" required="" lay-vertype="tips" lay-verify="required" placeholder="@ViewBag.BanJiMing" value="@ViewBag.BanJiMing" autocomplete="off" class="layui-input" readonly="true" />
                    <input type="hidden" name="YuanBanJiID" required="" lay-vertype="tips" lay-verify="required" placeholder="@ViewBag.BanJiMingID" value="@ViewBag.BanJiMingID" autocomplete="off" class="layui-input" hidden="hidden" />

                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">班级：</label>
                <div class="layui-input-block">
                    <select name="BanJiMing" lay-verify="required">
                        <option value="-1">--不限--</option>
                        @foreach (var a in Model)
                        {
                            <option value="@a.ID">@a.BanJiMing</option>
                        }
                    </select>
                </div>
            </div>

            <hr />
            <div class="layui-form-item" style="text-align: center;">
                <button class="layui-btn" lay-submit="" lay-filter="save" url="/ZM/HuanAction">修改</button>
                <button type="button" class="layui-btn layui-btn-primary" function="close">关闭</button>
            </div>
        </form>
        <!--表单开始 end -->
    </div>
</body>
</html>
